altgraph
click
colorama
Flask
future
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pefile
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
pytz
pywin32-ctypes
six
typing-extensions
Werkzeug
zipp
