<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon" />

    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/fa.5.8.1.all.css" />

    <link rel="stylesheet" href="/static/css/lnkmngr.css" />
</head>

<body class="container">
    <div class="pt-2">
        <h3>
            <a href="/" style="text-decoration:none;">
                <i class="fas fa-stream"></i>
            </a>
            {{ title }}
        </h3>
    </div>
    <hr/>

    <form action="{{ url_for('add_link_table_route') }}" method="POST">
        <input class="mt-1" type="text" name="new_table_name"></input>
        &nbsp;|&nbsp;
        <button class="mt-1" type="submit" name="action">
            <i class="fas fa-plus-square"></i>
        </button>
        &nbsp;|&nbsp;
        <button class="mt-1" id="del_link_table">
            <i class="fas fa-trash-alt"></i>
        </button>
        &nbsp;|&nbsp;
        <input class="mt-1" id="edit_new_table_name" type="text" />&nbsp;
        <button class="mt-1" id="edit_btn_id">
            <i class="fas fa-pen-square"></i>
        </button>
    </form>
    <br/>

     {% if link_tables %}
        <div id="link_tables">
        <ul>
        {% for lp in link_tables %}
            <li>
                <input type="checkbox" id={{ lp[0] }} value={{ lp[0] }} />
                &nbsp;
                <a href={{ lp[0] }}>{{ lp[1] }}</a>
            </li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    <br/><br/>

    <script>
        $('#del_link_table').on('click', function (e) {
            e.preventDefault();
            var tl = $("#link_tables").find("input");
            tl = Array.from(tl);
            var del_tables_list = []
            tl.forEach(t => {
                if (t.checked == true) {
                    del_tables_list.push(t.value);
                }
            });

            $.ajax("/drop_link_table_route/", {
                data: JSON.stringify({
                    "table_names": del_tables_list,
                }),
                contentType: 'application/json',
                type: 'POST',
            }).done(function (response) {
                location.reload(true);
            });
        });


        $('#edit_btn_id').on('click', function (e) {
            e.preventDefault();
            var tl = $("#link_tables").find("input");
            tl = Array.from(tl);
            var edit_table_name = null;
            var is_multiple_selected = false;
            tl.forEach(t => {
                if (t.checked == true) {
                    if (edit_table_name != null) {
                        is_multiple_selected = true;
                    }
                    edit_table_name = t.value;
                }
            });

            if (!is_multiple_selected) {
                $.ajax("/edit_table_name_route/", {
                    data: JSON.stringify({
                        "table_name": edit_table_name,
                        "new_table_name": $("#edit_new_table_name").val()
                    }),
                    contentType: 'application/json',
                    type: 'POST',
                }).done(function (response) {
                    location.reload(true);
                });
            }
        });
    </script>
</body>

</html>
